<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="./assets/svgs/bag.svg" name="triangle"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="./assets/svgs/user-tab.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home"> </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="./assets/svgs/notification.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon src="./assets/svgs/graph.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
  <!-- <div class="btn-div">
    <ion-button>
      <ion-icon src="./assets/svgs/home.svg"></ion-icon>
    </ion-button>
  </div> -->
  <ion-fab
    class="home-btn-fab"
    vertical="bottom"
    horizontal="center"
    slot="fixed"
  >
    <ion-fab-button class="home-btn">
      <ion-icon src="./assets/svgs/home.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-tabs>
